body
{
    background-color: blueviolet;
    text-align: center;
}

#mycanvas
{
    background-color:white;
    border: 2px solid white;
    margin: 30px;
}
#mysecondcanvas
{
    background-color: white;
    border: 2px;
    margin: 30px;
}
#mythirdcanvas
{
    background-color: white;
    border: 2px;
    margin: 30px;  
}